<footer class="footer">
  <!-- <div>{{site.name}}</div> -->
  <!-- <div>&copy; {{"now"|date('Y')}}</div> -->
  <section class="contact-form flex-parent flex-ac flex-jc pad">
    <div class="contact-form--wrapper flex-parent flex-ac flex-col pos-rel">
      <p class="title text-center">Keep up to date with Generate</p>
      <p class="body text-center">
        Stay in touch with Generate by signing up for our newsletter. We'll
        update you on important dates, events, and other cool stuff we find.
      </p>
      {#
        This is almost exactly the HTML that Mailchimp will spit out for you if you ask it to generate an embedded form.
        Options used: Classic form, unchecked include form title, checked show only required fields, unchecked show interest group fields, unchecked show required field indicators, checked disable all javascript
        Changes to html:
        - Comment out the link and style elements
        - Remove the "clear" div around the submit button.
        - Change the submit button value field to "Sign up!"
        - Add label and aria-label on the email input element and set to "Enter your email"
        #}
      <!-- Begin Mailchimp Signup Form -->
      {# <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
          We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style> #}
      <div id="mc_embed_signup">
        <form action="https://launchrock.us13.list-manage.com/subscribe/post?u=7cf3e8bf80129b4cb64f14d0c&amp;id=1962f150ec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"
              aria-label="Enter your email"
              placeholder="Enter your email">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7cf3e8bf80129b4cb64f14d0c_1962f150ec" tabindex="-1" value=""></div>
            {# <div class="clear"> #}
              <input type="submit" value="Sign up!" name="subscribe" id="mc-embedded-subscribe" class="button">
            {# </div> #}
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </section>
  <section class="footer-wrapper pad">
    <div class="logo-sitemap">
      <a href="{{ site.link }}/">
        <img class="logo" src="{{ theme.link }}/images/logo.svg" />
      </a>
      <div class="sitemap">
        <a class="sitemap-item" href="{{ site.link }}/">Home</a>
        <a class="sitemap-item" href="{{ site.link }}/about-us">About Us</a>
        <a class="sitemap-item" href="{{ site.link }}/our-team">Our Team</a>
        <!-- <a class="sitemap-item" href="{{ site.link }}/clients">Our Clients</a> -->
        <a class="sitemap-item" href="{{ site.link }}/apply">How to Apply</a>
      </div>
    </div>
    <div class="about-social">
      <div class="about-sherman flex-parent flex-col pos-rel">
        <p class="about-snippet">
          Generate is Northeastern’s student led design studio aimed at
          fostering entreprenurial engineering on campus. Generate’s office is
          located in the
          <a
            href="https://neu.edu/sherman"
            target="_blank"
            rel="noopener noreferrer"
            class="underline-link hover-blue"
            >Sherman Center</a
          >, found in 008C Hayden Hall.
        </p>
        <a
          href="https://neu.edu/sherman"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="sherm-logo"
            src="{{ theme.link }}/images/sherman.png"
            alt="Northeastern University: Michael J. and Ann Sherman Center for Engineering Entrepreneurship Education"
          />
        </a>
      </div>
      <div class="social-wrapper">
        <a
          href="https://facebook.com/generateNU"
          target="_blank"
          rel="noopener noreferrer"
          class="social-item"
          ><img
            class="social-icon facebook"
            src="{{ theme.link }}/images/facebook.svg"
        /></a>
        <a
          href="https://twitter.com/GenerateNU"
          target="_blank"
          rel="noopener noreferrer"
          class="social-item"
          ><img
            class="social-icon twitter"
            src="{{ theme.link }}/images/twitter.svg"
        /></a>
        <a
          href="https://www.instagram.com/generatenu/"
          target="_blank"
          rel="noopener noreferrer"
          class="social-item"
          ><img
            class="social-icon instagram"
            src="{{ theme.link }}/images/instagram.svg"
        /></a>
        <a
          href="mailto:generate@northeastern.edu"
          target="_blank"
          rel="noopener noreferrer"
          class="social-item"
          ><img
            class="social-icon gmail"
            src="{{ theme.link }}/images/gmail.svg"
        /></a>
      </div>
    </div>
  </section>
</footer>
