<header class="header" role="banner">
  {% block header %}
  <nav class="nav pad" role="navigation">
    <div class="nav-wrapper flex-parent flex-ac">
      <a class="home-logo" href="{{ site.link }}/"
        ><img class="logo" src="{{ theme.link }}/images/logo-small.svg"
      /></a>
      <ul class="nav-list hide-md">
      <li class="nav-item {% if post == 'About Us' %} active {% endif %}">
          <a href="{{ site.link }}/about-us">About Us</a>
        </li>
        <li class="nav-item {% if post == 'Our Team' %} active {% endif %}">
          <a href="{{ site.link }}/our-team">Our Team</a>
        </li>
        <!-- <li class="nav-item"><a href="{{ site.link }}/clients">Our Clients</a></li> -->
        <li class="nav-item {% if post == 'How to Apply' %} active {% endif %}">
          <a href="{{ site.link }}/apply">How to Apply</a>
        </li>
        <li class="nav-item {% if post == 'calendar' %} active {% endif %}">
          <a href="{{ site.link }}/calendar">Calendar</a>
        </li>
      </ul>
      <div class="mobile--nav--wrapper pos-rel show-md">
        <div
          class="mobile-nav--indicator pos-rel flex-parent flex-col"
          tabindex="0"
        >
          <span class="mobile-nav--indicator--lines"></span>
          <span class="mobile-nav--indicator--lines"></span>
          <span class="mobile-nav--indicator--lines"></span>
        </div>
        <div class="mobile--navigation">
          <ul class="nav-list">
            <li class="nav-item {% if homePage %} active {% endif %}">
              <a href="{{ site.link }}/">Home</a></li>
            <li class="nav-item {% if post == 'About Us' %} active {% endif %}">
              <a href="{{ site.link }}/about-us">About Us</a>
            </li>
            <li class="nav-item {% if post == 'Our Team' %} active {% endif %}">
              <a href="{{ site.link }}/our-team">Our Team</a>
            </li>
            <!-- <li class="nav-item"><a href="{{ site.link }}/clients">Our Clients</a></li> -->
            <li class="nav-item {% if post == 'How to Apply' %} active {% endif %}">
              <a href="{{ site.link }}/apply">How to Apply</a>
            </li>
            <li class="nav-item {% if post == 'calendar' %} active {% endif %}">
              <a href="{{ site.link }}/calendar">Calendar</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  {% endblock %}
</header>
