{% extends "base.twig" %} {% block content %}
<div class="position--content-wrapper pad">
  <p class="position--breadcrumb text-center">
    <a href="/apply">Applications</a> >
    <a href="/apply#{{ Term(post.team).slug }}">{{ Term(post.team).title }}</a>
  </p>
  <h1 class="text--h1 title text-center">{{ post.title }}</h1>
  <p class="subtitle text-center">{{ post.subtitle }}</p>
  <div class="position--content">
    {{ post.content }}
  </div>
  <div class="cta-wrapper">
    {% if post.application_link %}
    <a
      class="cta"
      href="{{ post.application_link }}"
      target="_blank"
      rel="nofollow noopener noreferer"
      ><button class="btn">Apply now</button></a
    >
    {% endif %}
  </div>
</div>
<!-- /content-wrapper -->
{% endblock %}
